ion-content{
    background-color: #FDFDFD;
    --ion-background-color: #FDFDFD;
    --padding-bottom: 100px;
    // --padding-start: 15px;
    // --padding-end: 15px;
}
.header-md {
    box-shadow: none;
}
.head-icon{
    padding-right: 15px;
}
ion-title{
    color: #353535;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 5px;
}
.sc-ion-searchbar-md-h {
    --border-radius: 22px;
    --box-shadow: none;
}
ion-label{
    font-size: 16px;
    font-weight: 700;
    color: #353535;
}
ion-text{
    font-size: 12px;
    font-weight: 400;
    color: #353535;
}
a{
    color: #353535;
    text-decoration: none;
    &:hover{
        color: #353535;
        text-decoration: none;
    }
}
.cart{
    padding-left: 15px;
    padding-right: 15px;
    h3{
        font-size: 16px;
        font-weight: 700;
        color: #494949;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    ion-card{
        border-radius: 6px;
        box-shadow: 0px 4px 25px 0px #0000000D;
    }
    .items{
        padding: 5px;
        hr{
            border: 1px solid #EDEDED;
            height: 0;
            margin: 10px;
        }
    }
    .details{
        h1{
            font-size: 12px;
            font-weight: 400;
            color: #919191;
            margin-bottom: 5px;
            margin-top: 0;
            width: 100%;
        }
        h2{
            font-size: 14px;
            font-weight: 400;
            color: #353535;
            margin-bottom: 5px;
            margin-top: 0;
            width: 100%;
        }
        h3{
            font-size: 12px;
            font-weight: 400;
            color: #494949;
            margin-bottom: 5px;
            margin-top: 0;
            width: 100%;
        }
        h4{
            font-size: 11px;
            font-weight: 400;
            color: #919191;
            margin-bottom: 5px;
            margin-top: 0;
            width: 100%;
        }
        .btn{
            font-size: 14px;
            font-weight: 700;
            width: 100%;
            border: 1px solid #FD9018;
            background-color: #fff;
            color: #FD9018;
            text-align: center;
            padding: 8px 10px;
            border-radius: 6px;
        }
        .image{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
        linear-gradient(0deg, #FCFCFC, #FCFCFC);
            padding: 15px;
            border-radius: 6px;
            margin-right: 8px;
            ion-img{
                width: 70px;
            }
        }
    }
    .price{
        h3{
            font-size: 12px;
            font-weight: 400;
            color: #494949;
            margin-bottom: 5px;
            margin-top: 0;
            width: 100%;
        }
        h6{
            font-size: 16px;
            font-weight: 700;
            color: #353535;
            margin-bottom: 5px;
            margin-top: 0;
        }
        p{
            margin-bottom: 0;
            margin-top: 0;
            padding: 7px 25px;
        }
        .count{
            border: 1px solid #FD9018;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            ion-col{
                padding: 0;
            }
        }
        .btn{
            font-size: 14px;
            font-weight: 700;
            width: 100%;
            color: #FFFFFF;
            text-align: center;
            padding: 6px 12px 10px 12px;
            border-radius: 0px;
        }
        .minus{
            background-color: #FD9018;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        .plus{
            background-color: #FD9018;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    .card{
        align-items: center;
        justify-content: space-between;
        background-color: #FFE9D0;
        padding: 10px;
        h6{
            font-size: 12px;
            font-weight: 400;
            color: #666666;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            img{
                padding-right: 5px;
            }
        }
        a{
            font-size: 14px;
            font-weight: 400;
            color: #353535;
            cursor: pointer;
            text-decoration: none;
            &:hover{
                color: #353535;
                text-decoration: none;
            }
        }
    }
    .btn2{
        border: 1px solid #FD9018;
        border-radius: 6px;
        color: #FD9018;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
        margin: 30px 5px 20px 5px;
    }
}
.summary{
    padding: 20px 0 30px 0;
    h2{
        font-size: 16px;
        font-weight: 700;
        color: #494949;
    }
    h3{
        font-size: 12px;
        font-weight: 400;
        color: #494949;
        margin-bottom: 10px;
        span{
            color: #1D1D1D;
        }
    }
    .card{
        border: 1px solid #FFE9D0;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 50px 0px #0000000A;
        border-radius: 6px;
        padding: 20px;
    }
    h4{
        font-size: 14px;
        font-weight: 400;
        color: #353535;
        margin-bottom: 15px;
    }
    h5{
        font-size: 16px;
        font-weight: 700;
        color: #353535;
        margin-bottom: 0;
    }
    hr{
        border: 1px solid #EDEDED;
        height: 0;
        margin: 0 0 15px 0;
    }
    .flex{
        align-items: center;
        justify-content: space-between;
    }
}
.place-order{
    box-shadow: 0px -4px 50px 0px #0000001C;
    background-color: #FFFFFF;
    padding: 15px;
    .btn3{
        background-color: #FD9018;
        border-radius: 6px;
        padding: 10px;
        color: #FFFFFF;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
    }
}