ion-content{
    background-color: #FFFFFF;
    --ion-background-color: #FFFFFF;
    --padding-bottom: 100px;
    --padding-start: 15px;
    --padding-end: 15px;
}
.gap{
    height: 10px;
}
.custom-item {
    color: #1D1D1D;
    margin-bottom: 16px; /* Increase space between items */
    ion-label {
        color: var(--Grey-1, #666);

/* Style 2/Caption 1 */
font-family: "Helvetica Neue";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
    }
    ion-input {
        border-radius: 8px;
        border: 1px solid var(--Color-Brand-Orange, #FFE1AF);
        background-color: #FDFDFD;
   
    }

    ion-label {
        --margin-bottom: 8px; /* Increase space between label and field */
    }
  .custom-button {
    height: 48px; /* Increase button height */
    border-radius: 20px; /* Round button corners */
  }
  
}
h1 {
    color: var(--Black-1, #1D1D1D);
text-align: center;

/* Style 2/Header 1 */
font-family: "Helvetica Neue";
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 145.455% */
margin-top: 12px;
margin-bottom: 25px;
}

img{
    margin-top: 50px;
    align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p{
    color: var(--Grey-1, #666);
text-align: center;

/* Style 2/Caption 1 */
font-family: "Helvetica Neue";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
}

span{
    color: var(--Color-States-Dark-Blue, #477AFD);

/* Style 2/Caption 1 */
font-family: "Helvetica Neue";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
a{
    color: #477AFD;
    text-decoration: none;
    margin-left: 10px;
    &:hover{
        color: #477AFD;
        text-decoration: none;
    }
}
}