@if(topDeal){
  <ion-card>
    <div class="image-col">
      <ion-grid class="offers">
        <ion-row>
          <ion-col class="text-left">
            @if(topDeal.offer){
              <h6>{{topDeal.offer}}</h6>
            }
          </ion-col>
          <ion-col class="text-right">
            <button ion-button icon-left clear small (click)="toggleLiked(topDeal)">
              <ion-icon [src]="topDeal.icon"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="image">
        <ion-img [src]="topDeal.img.src" [alt]="topDeal.img.alt"></ion-img>
      </div>
    </div>
    <div class="content">
      <h1>{{topDeal.brand_name}}</h1>
      <h2>{{topDeal.product_name}}</h2>
      <h3>{{topDeal.unit_cross_quantity}}</h3>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>{{topDeal.rate}}</h2>
          </ion-col>
          <ion-col>
            <div class="btn" id="add-to-cart-sheet">View</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
}