@if(orderDetail){
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="image-col">
            <ion-grid class="offers">
              <ion-row>
                <ion-col size="7">
                  @if(orderDetail.offer){
                    <h6>{{orderDetail.offer}}</h6>
                  }
                </ion-col>
                <ion-col size="5" class="text-right">
                  <button ion-button icon-left clear small (click)="toggleLiked(orderDetail)">
                    <ion-icon [src]="orderDetail.icon"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="image">
              <ion-img [src]="orderDetail.img.src" [alt]="orderDetail.img.alt"></ion-img>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <h1>{{orderDetail.brand_name}}</h1>
          <h2>{{orderDetail.product_name}}</h2>
          <h3>{{orderDetail.unit_cross_quantity}}</h3>
          <h4>UOM: {{orderDetail.uom}}</h4>
          <h4>Qty: {{orderDetail.qty}}</h4>
          <h2>{{orderDetail.rate}}</h2>
          <div class="btn">Add</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
}
