ion-content{
    background-color: #FFFFFF;
    --ion-background-color: #FFFFFF;
    --padding-bottom: 0px;
    --padding-start: 15px;
    --padding-end: 15px;
}
.gap{
    height: 10px;
}
.custom-item {
    color: #1D1D1D;
    margin-bottom: 20px; /* Increase space between items */
    ion-label {
        color: var(--Grey-1, #666);

/* Style 2/Caption 1 */
font-family: "Helvetica Neue";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
    }
    ion-input {
        border-radius: 8px;
        border: 1px solid var(--bg-color);
        background: var(--BG, #FDFDFD);
   
    }

    h4 {
        text-align: center;
        color: var(--Grey-1, #666);

/* Style 2/Caption 1 */
font-family: "Helvetica Neue";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
        --margin-bottom: 8px; /* Increase space between label and field */
    }
  .custom-button {
    height: 48px; /* Increase button height */
    border-radius: 20px; /* Round button corners */
    margin-top: 180px;

  }
  
}
h1 {
    color: var(--Black-3, #494949);
text-align: center;

/* Style 2/Display 1 */
font-family: "Helvetica Neue";
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 142.857% */
margin-bottom: 40px;
}

h2{
    color: var(--Black-2, #353535);
text-align: center;
/* Style 2/Header 2 */
font-family: "Helvetica Neue";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
margin-bottom: 8px;
}

h3{
    color: var(--Grey-1, #666);
text-align: center;

/* Style 2/Body 1 */
font-family: "Helvetica Neue";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin-bottom: 40px;
}

img{
    margin-top: 150px;
    align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

p{
    color: var(--Grey-1, #666);
text-align: center;

/* Style 2/Caption 1 */
font-family: "Helvetica Neue";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
}

span{
    color: var(--Color-States-Dark-Blue, #477AFD);

/* Style 2/Caption 1 */
font-family: "Helvetica Neue";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
a{
    color: #477AFD;
    text-decoration: none;
    margin-left: 10px;
    &:hover{
        color: #477AFD;
        text-decoration: none;
    }
}
}

button{
    margin-top: 105px; 
    height: 55px; 
    border-radius: 8px; 
    background-color: var(--primary-color); 
    color: #fff; 
    width: 100%; 
    font-weight: bold; 
    font-size: 18px;
}