<div class="ion-no-border">
  <ion-grid class="main-card">
    <ion-row>
      <ion-col size="auto">
        <div class="image-col">
          <ion-grid class="offers">
            <ion-row>
              <ion-col>
                @if(order_again.offer){
                  <h6>{{order_again.offer}}</h6>
                }
              </ion-col>
              <ion-col class="text-right">
                <button ion-button icon-left clear small (click)="toggleLiked(order_again)">
                  <ion-icon [src]="order_again.icon"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div class="image">
            <ion-img [src]="order_again.img.src" [alt]="order_again.img.alt"></ion-img>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="content">
          <h1>Fortune</h1>
          <h2>Refined Sunflower Oil</h2>
          <h3>20 ut x 500 ml</h3>
          <h4>₹ 126.00 ~ 200.00 <span>MRP: <span>₹ 260.00</span></span></h4>
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <h1>UOM </h1>
              </ion-col>
              <ion-col size="auto">
                <select>
                  <option>Each</option>
                </select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="discount">
    <h6>Get more at discounted price</h6>
    <div class="show-more" [class.active]="showMore">
      <div class="less-desc">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <h2><img src="/assets/imgs/Offer.svg"> Get 35% Off on all flours</h2>
            </ion-item>
            <div class="ion-padding" slot="content">
              <h3>Description of the scheme that is very long which can span for one or two lines</h3>
              <p>Validity</p>
              <p>01/01/2024 to 30/02/2024</p>
              <hr>
              <div class="btn" (click)="showMoreDesc()">View All Products</div>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
      <div class="more-desc">
        @for (price of price_details; track price.id) {
          <div class="card">
            <h4>₹ {{price.price}}</h4>
            <h5>Qty: {{price.qty}}</h5>
          </div>
        }
      </div>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <ion-grid>
          <ion-row class="count">
            <ion-col size="auto">
              <div class="minus btn" (click)="decrease()">-</div>
            </ion-col>
            <ion-col size="auto">
              <p>40</p>
            </ion-col>
            <ion-col size="auto">
              <div class="plus btn" (click)="increase()">+</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col class="text-right">
       <h3>Sub total</h3>
       <h6>₹ 8000.00</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="btn2" id="open-toast" expand="block" (click)="add()">Add to Cart</div>
  <!-- <ion-content class="ion-padding">
    <div class="btn2" id="open-toast" expand="block" (click)="add()">Add to Cart</div>
    <ion-toast trigger="open-toast" message="Product added to Cart" [duration]="3000" icon="sign check"></ion-toast>
  </ion-content> -->
</div>