<ion-header class="ion-no-border">
  <ion-grid class="main-card">
    <ion-row>
      <ion-col size="auto">
        <div class="image">
          <ion-img src="/assets/imgs/product.png"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div class="content">
          <h1>Fortune</h1>
          <h2>Refined Sunflower Oil</h2>
          <h3>20 ut x 500 ml</h3>
          <h4>₹ 126.00 ~ 200.00 <span>MRP: ₹ 260.00</span></h4>
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <h1>UOM </h1>
              </ion-col>
              <ion-col size="auto">
                <select>
                  <option>Each</option>
                </select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <ion-grid>
          <ion-row class="count">
            <ion-col size="auto">
              <div class="minus btn">-</div>
            </ion-col>
            <ion-col size="auto">
              <p>40</p>
            </ion-col>
            <ion-col size="auto">
              <div class="minus btn">+</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col class="text-right">
       <h3>Sub total</h3>
       <h6>₹ 8000.00</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<div class="btn2">Add to Cart</div>
<!-- <ion-content [fullscreen]="true">
    <ion-button
      expand="block"
      size="large"
      shape="round"
      color="primary"
      type="submit">
      <ion-text>Add to Cart</ion-text>
    </ion-button>
</ion-content> -->