<ion-content [fullscreen]="true">

  <div class="card">
    <ion-header>
    <ion-toolbar>
      <ion-accordion-group class="parent-accordion">
        <ion-accordion value="first">
          <ion-item slot="header" color="dark">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h1 >Not able to track the order</h1>
                  <p>12 Jan 24</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

          <div class="ion-padding" slot="content" >
            <p>content</p>
            
          </div>
        
      </ion-accordion>
    </ion-accordion-group>
  </ion-toolbar>
  </ion-header>
  </div>



  <div class="card">
  <ion-header>
  <ion-toolbar>
    <ion-accordion-group class="parent-accordion">
      <ion-accordion value="first">
        <ion-item slot="header" color="dark">
          <ion-grid>
            <ion-row>
              <ion-col>
                <h1 >Account switching problem</h1>
                <p>12 Jan 24</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <div class="ion-padding" slot="content" >
          <p>When attempting to switch between accounts, the application seems to be unresponsive, and I am unable to access my alternate account. After selecting the account switch option from the menu, the app either freezes or returns an error message, preventing me from successfully switching accounts.</p>
          <ion-header>
            <ion-toolbar>
              <ion-accordion-group >
                <ion-accordion value="first" class="nested-accordion">
                  <ion-item slot="header" color="light">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="auto">
                          <img src="/assets/imgs/profile.svg">
                        </ion-col>
                        <ion-col>
                          <h1>AJ Mart</h1>
                          <p>0112664499</p>
                          <p><img src="/assets/imgs/points.svg"> 50 Points</p>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    <hr>
                    <h2><img src="/assets/imgs/profile-icon.svg"> AJ Mart</h2>
                    <h2><img src="/assets/imgs/plus-icon.svg"> Add Account</h2>
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </ion-toolbar>
          </ion-header>
          
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-toolbar>
</ion-header>
</div>

<div class="card">
  <ion-header>
  <ion-toolbar>
    <ion-accordion-group class="parent-accordion">
      <ion-accordion value="first">
        <ion-item slot="header" color="dark">
          <ion-grid>
            <ion-row>
              <ion-col>
                <h1 >Order tracking issue </h1>
                <p>12 Jan 24</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      


        <div class="ion-padding" slot="content" >
          <p>content</p>
          
        </div>
        
    </ion-accordion>
  </ion-accordion-group>
</ion-toolbar>
</ion-header>
</div>

<button class="image-button">
  <a href="/feedback-edit"><img src="/assets/imgs/edit-con.png" alt="Icon" class="button-icon"></a>
</button>

</ion-content>

