ion-content{
    background-color: #FDFDFD;
    --ion-background-color: #FDFDFD;
    --padding-bottom: 100px;
}
.header-md {
    box-shadow: none;
}
.head-icon{
    padding-right: 15px;
}
ion-title{
    color: #353535;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 5px;
}
.sc-ion-searchbar-md-h {
    --border-radius: 22px;
    --box-shadow: none;
}
ion-label{
    font-size: 16px;
    font-weight: 700;
    color: #353535;
}
ion-text{
    font-size: 12px;
    font-weight: 500;
    color: #353535;
}
ion-button{
    text-transform: unset;
}
a{
    color: #353535;
    text-decoration: underline;
    &:hover{
        color: #353535;
    }
}
.search{
    padding: 0 10px;
    align-items: center;
    .speech-reg{
        position: absolute;
        right: 30px;
    }
    ion-searchbar{
        color: #494949;
    }
}
.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 0px 4px 2px;
	// height: 50px;
	// width: 50px;
	vertical-align: bottom;
.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
.searchbutton {
	// position: absolute;
	font-size: 30px;
	width: 100%;
	margin: 0;
	padding: 0 0 4px 4px;
}
.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}
.search {
	position: absolute;
	left: 22px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}
.search:focus {
	width: 220px; /* Bar width+1px */
	padding: 0 16px 0 0;
}
.expandright {
	left: auto;
	right: 22px; /* Button width-1px */
}
.expandright:focus {
	padding: 0 0 0 16px;
}
}