<ion-content>
  <div class="dis-details">
    <h2><img src="/assets/imgs/distributors.svg"> Distributor(s)</h2>
    <div class="card one">
      <h3>Bishal Trading</h3>
      <p><img src="/assets/imgs/location.svg"><span>Plot no 1309/4, Bhubaneshwar 3000 (East), Bhubaneshwar, Odisha, India - 751002</span></p>
      <p><img src="/assets/imgs/Phone.svg"> +91 99123 12345</p>
    </div>
    <h2><img src="/assets/imgs/Verified User.svg"> DS</h2>
    <div class="card">
      <h3>Oil - Biranchi Narayan Patra</h3>
      <p><img src="/assets/imgs/Phone.svg"> +91 99123 12345</p>
      <hr>
      <h3>FNP - Pradeep Setthi</h3>
      <p><img src="/assets/imgs/Phone.svg"> +91 99123 12345</p>
      <hr>
      <h3>DS Name 3</h3>
      <p><img src="/assets/imgs/Phone.svg"> +91 99123 12345</p>
      <hr>
      <h3>DS Name 4</h3>
      <p><img src="/assets/imgs/Phone.svg"> +91 99123 12345</p>
    </div>
    <h2><img src="/assets/imgs/Route.svg"> Beat</h2>
    <div class="card">
      <h3>Lakshmisagar</h3>
    </div>
  </div>
</ion-content>