<ion-content [fullscreen]="true">

      <div class="deals">
        <swiper-container
          [modules]="swiperModules"
          [slidesPerView]="1"
          [keyboard]="true"
          [centerSlides]="true"
          [pagination]="{ clickable: true }">
          @for ( bannerImg of bannerImages; track bannerImg.id ){
            <swiper-slide>
              <div class="deals">
                <div class="content">
                  <h2>{{bannerImg.title}}</h2>
                  <p>{{bannerImg.description}}</p>
                </div>
                <ion-img [src]="bannerImg.src" [alt]="bannerImg.alt"></ion-img>
              </div>
            </swiper-slide>
          }
        </swiper-container>
      </div>

      @if (categories.length > 0) { 
        <div class="categories">
          <ion-list lines="none">
            <ion-list-header>
              <ion-label>
                Categories
              </ion-label>
              <ion-button fill="clear" size="small" color="medium">
                <ion-text>
                  <a href="/categories">View All</a>
                </ion-text>
              </ion-button>
            </ion-list-header>  
            <div class="swiper-item">
              <swiper-container
                [modules]="swiperModules"
                [slidesPerView]="3.4"
                [keyboard]="true"
                [centerSlides]="true">
                @for (category of categories; track category.id) {
                  <swiper-slide>
                    <ion-card>
                      <ion-img [src]="category.img.src" [alt]="category.img.alt"></ion-img>
                    </ion-card>
                    <ion-item>
                      <ion-label>{{category.name}}</ion-label>
                    </ion-item>
                  </swiper-slide>
                }
              </swiper-container>
            </div>
          </ion-list>
        </div>
      }

      @if (order_again.length > 0) { 
        <div class="order-again">
          <ion-list lines="none">
            <ion-list-header>
              <ion-label>
                Order Again
              </ion-label>
              <ion-button fill="clear" size="small" color="medium">
                <ion-text>
                  <a href="/orders">View All</a>
                </ion-text>
              </ion-button>
            </ion-list-header>  
            <div>
              <swiper-container
                [modules]="swiperModules"
                [slidesPerView]="1"
                [keyboard]="true"
                [centerSlides]="true">
                @for (order of order_again; track order.id) {
                  <swiper-slide>
                    <app-order-again [orderDetail]="order"></app-order-again>
                  </swiper-slide>
                }
              </swiper-container>
            </div>
          </ion-list>
        </div>
      }

      @if (top_deals.length > 0) { 
        <div class="top-deals">
          <ion-list lines="none">
            <ion-list-header>
              <ion-label>
                Top Deals
              </ion-label>
              <ion-button fill="clear" size="small" color="medium">
                <ion-text>
                  <a href="/all-top-deals">View All</a>
                </ion-text>
              </ion-button>
            </ion-list-header>  
            <div>
              <swiper-container
                [modules]="swiperModules"
                [slidesPerView]="1.4"
                [keyboard]="true"
                [centerSlides]="true">
                @for (deal of top_deals; track deal.id) {
                  <swiper-slide>
                    <app-top-deals [topDeal]="deal"></app-top-deals>
                  </swiper-slide>
                }
              </swiper-container>
            </div>
      
          </ion-list>
        </div>
      }

      @if (recent_orders.length > 0) { 
        <div class="recent-orders">
          <ion-list lines="none" class="ion-margin-bottom recentJobs">
            <ion-list-header class="ion-margin-bottom">
              <ion-label>
                Recent Orders
              </ion-label>
              <ion-button fill="clear" size="small" color="medium">
                <ion-text>
                  <a href="/orders">View All</a>
                </ion-text>
              </ion-button>
            </ion-list-header>
            @for (rcorder of recent_orders; track rcorder.id) {
              <ion-card>
                <div class="status" *ngIf="rcorder.status == 'Placed'" style="background-color: #D8EBFF; color: #477AFD;">Placed</div>
                <div class="status" *ngIf="rcorder.status == 'Delivered'" style="background-color: #E6FFCD; color: #3D9436;">Delivered</div>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <h2>Order ID : {{rcorder.order_id}}</h2>
                    </ion-col>
                    <ion-col>
                      <h3>{{rcorder.rate}}</h3>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <h4>{{rcorder.date}}</h4>
                <ion-grid class="action">
                  <ion-row>
                    <ion-col>
                      <h5>{{rcorder.items_number}} Items</h5>
                    </ion-col>
                    <ion-col>
                      <div class="btn"><a href="/order-details">View Details <img src="/assets/imgs/nav-arrow-right.svg"></a></div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            }
      
          </ion-list>
        </div>
      }

</ion-content>
