<ion-content [fullscreen]="true">

      <div class="deals">
        <swiper-container
          [modules]="swiperModules"
          [slidesPerView]="1"
          [keyboard]="true"
          [centerSlides]="true"
          [pagination]="{ clickable: true }">
          @for ( bannerImg of bannerImages; track bannerImg.id ){
            <swiper-slide>
              <div class="deals">
                <div class="content">
                  <h2>{{bannerImg.title}}</h2>
                  <p>{{bannerImg.description}}</p>
                </div>
                <ion-img [src]="bannerImg.src" [alt]="bannerImg.alt"></ion-img>
              </div>
            </swiper-slide>
          }
        </swiper-container>
      </div>

      @if (categories.length > 0) { 
        <div class="categories">
          <ion-list lines="none">
            <ion-list-header>
              <ion-label>
                Categories
              </ion-label>
              <ion-button fill="clear" size="small" color="medium">
                <ion-text>
                  <a href="/categories">View All</a>
                </ion-text>
              </ion-button>
            </ion-list-header>  
            <div class="swiper-item">
              <swiper-container
                [modules]="swiperModules"
                [slidesPerView]="3.4"
                [keyboard]="true"
                [centerSlides]="true">
                @for (category of categories; track category.id) {
                  <swiper-slide>
                    <ion-card>
                      <ion-img [src]="category.img.src" [alt]="category.img.alt"></ion-img>
                    </ion-card>
                    <ion-item>
                      <ion-label>{{category.name}}</ion-label>
                    </ion-item>
                  </swiper-slide>
                }
              </swiper-container>
            </div>
          </ion-list>
        </div>
      }

      @if (order_again.length > 0) { 
        <div class="order-again">
          <ion-list lines="none">
            <ion-list-header>
              <ion-label>
                Order Again
              </ion-label>
              <ion-button fill="clear" size="small" color="medium">
                <ion-text>
                  <a href="/orders">View All</a>
                </ion-text>
              </ion-button>
            </ion-list-header>  
            <div>
              <swiper-container
                [modules]="swiperModules"
                [slidesPerView]="1"
                [keyboard]="true"
                [centerSlides]="true">
                @for (order of order_again; track order.id) {
                  <swiper-slide>
                    <app-order-again [orderDetail]="order"></app-order-again>
                  </swiper-slide>
                }
              </swiper-container>
            </div>
          </ion-list>
        </div>
      }

      @if (top_deals.length > 0) { 
        <div class="top-deals">
          <ion-list lines="none">
            <ion-list-header>
              <ion-label>
                Top Deals
              </ion-label>
              <ion-button fill="clear" size="small" color="medium">
                <ion-text>
                  <a href="/all-top-deals">View All</a>
                </ion-text>
              </ion-button>
            </ion-list-header>  
            <div>
              <swiper-container
                [modules]="swiperModules"
                [slidesPerView]="1.4"
                [keyboard]="true"
                [centerSlides]="true">
                @for (deal of top_deals; track deal.id) {
                  <swiper-slide>
                    <app-top-deals [topDeal]="deal"></app-top-deals>
                  </swiper-slide>
                }
              </swiper-container>
            </div>
      
          </ion-list>
        </div>
      }

      @if (recent_orders.length > 0) { 
        <div class="recent-orders">
          <ion-list lines="none" class="ion-margin-bottom recentJobs">
            <ion-list-header class="ion-margin-bottom">
              <ion-label>
                Recent Orders
              </ion-label>
              <ion-button fill="clear" size="small" color="medium">
                <ion-text>
                  <a href="/orders">View All</a>
                </ion-text>
              </ion-button>
            </ion-list-header>
            @for (rcorder of recent_orders; track rcorder.id) {
              <ion-card>
                <div class="status" *ngIf="rcorder.status == 'Placed'" style="background-color: #D8EBFF; color: #477AFD;">Placed</div>
                <div class="status" *ngIf="rcorder.status == 'Delivered'" style="background-color: #E6FFCD; color: #3D9436;">Delivered</div>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <h2>Order ID : {{rcorder.order_id}}</h2>
                    </ion-col>
                    <ion-col>
                      <h3>{{rcorder.rate}}</h3>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <h4>{{rcorder.date}}</h4>
                <ion-grid class="action">
                  <ion-row>
                    <ion-col>
                      <h5>{{rcorder.items_number}} Items</h5>
                    </ion-col>
                    <ion-col>
                      <div class="btn"><a href="/order-details">View Details <img src="/assets/imgs/nav-arrow-right.svg"></a></div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            }
      
          </ion-list>
        </div>
      }


      <ion-modal #add_to_cart_modal trigger="add-to-cart-sheet" cssClass="inline_modal" (ionModalDidDismiss)="reset($event)" [breakpoints]="[0.1, 0.5, 0.9]" [initialBreakpoint]="0.6">
        <ng-template>
          <!-- <app-add-to-cart-bottom-sheet></app-add-to-cart-bottom-sheet> -->
          <div class="ion-no-border">
            <ion-grid class="main-card">
              <ion-row>
                <ion-col size="auto">
                  <div class="image-col">
                    <ion-grid class="offers">
                      <ion-row>
                        <ion-col>
                          @if(order_details.offer){
                            <h6>{{order_details.offer}}</h6>
                          }
                        </ion-col>
                        <ion-col class="text-right">
                          <button ion-button icon-left clear small (click)="toggleLiked(order_details)">
                            <ion-icon [src]="order_details.icon"></ion-icon>
                          </button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    <div class="image">
                      <ion-img [src]="order_details.img.src" [alt]="order_details.img.alt"></ion-img>
                    </div>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="content">
                    <h1>Fortune</h1>
                    <h2>Refined Sunflower Oil</h2>
                    <h3>20 ut x 500 ml</h3>
                    <h4>₹ 126.00 ~ 200.00 <span>MRP: <span>₹ 260.00</span></span></h4>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="auto">
                          <h1>UOM </h1>
                        </ion-col>
                        <ion-col size="auto">
                          <select>
                            <option>Each</option>
                          </select>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="discount">
              <h6>Get more at discounted price</h6>
              <div class="show-more" [class.active]="showMore">
                <div class="less-desc">
                  <ion-accordion-group>
                    <ion-accordion value="first">
                      <ion-item slot="header" color="light">
                        <h2><img src="/assets/imgs/Offer.svg"> Get 35% Off on all flours</h2>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        <h3>Description of the scheme that is very long which can span for one or two lines</h3>
                        <p>Validity</p>
                        <p>01/01/2024 to 30/02/2024</p>
                        <hr>
                        <div class="btn" (click)="showMoreDesc()">View All Products</div>
                      </div>
                    </ion-accordion>
                  </ion-accordion-group>
                </div>
                <div class="more-desc">
                  @for (price of price_details; track price.id) {
                    <div class="card">
                      <h4>₹ {{price.price}}</h4>
                      <h5>Qty: {{price.qty}}</h5>
                    </div>
                  }
                </div>
              </div>
            </div>
            <ion-grid>
              <ion-row>
                <ion-col size="auto">
                  <ion-grid>
                    <ion-row class="count">
                      <ion-col size="auto">
                        <div class="minus btn" (click)="decrease()">-</div>
                      </ion-col>
                      <ion-col size="auto">
                        <p>40</p>
                      </ion-col>
                      <ion-col size="auto">
                        <div class="plus btn" (click)="increase()">+</div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
                <ion-col class="text-right">
                 <h3>Sub total</h3>
                 <h6>₹ 8000.00</h6>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="btn2" id="open-toast" expand="block" (click)="add()">Add to Cart</div>
            <ion-toast id="success-message" trigger="open-toast" message="Product added to Cart" [duration]="3000" class="custom-toast" icon="/assets/imgs/check filled.svg"></ion-toast>
          </div>
        </ng-template>
      </ion-modal>

</ion-content>
