ion-content{
    background-color: #FDFDFD;
    --ion-background-color: #FDFDFD;
}
.header-md {
    box-shadow: none;
}
.head-icon{
    padding-right: 10px;
}
ion-title{
    color: #353535;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.sc-ion-searchbar-md-h {
    --border-radius: 22px;
    --box-shadow: none;
}
.deals{
    // position: relative;
    // img{
    //     display: none;
    // }
    .content{
        position: relative;
        // color: #FFF;
    }
}
ion-label{
    font-size: 16px;
    font-weight: 700;
    color: #353535;
}
ion-text{
    font-size: 12px;
    font-weight: 400;
    color: #353535;
}
a{
    color: #353535;
    text-decoration: none;
    &:hover{
        color: #353535;
        text-decoration: none;
    }
}
.home{
    background-color: #FDFDFD;
}
.categories{
    padding-bottom: 20px;
    .swiper-item{
        ion-card{
            box-shadow: none;
            text-align: center;
            border: 1px solid #000;
            margin-bottom: 0;
        }
        ion-img{
            padding: 10px;
        }
        ion-label{
            font-size: 14px;
            font-weight: 400;
            color: #353535;
            margin-top: 0;
        }
    }
}
.order-again{
    padding-bottom: 20px;
}
.top-deals{
    padding-bottom: 20px;
}
.recent-orders{
    padding-bottom: 20px;
    ion-card{
        border-radius: 12px;
        box-shadow: 0px 4px 25px 0px #0000000D;
        padding: 10px;
        margin-bottom: 20px;
    }
    .status{
        padding: 8px;
        text-align: center;
        width: 70px;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    h2{
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        margin-top: 0;
        margin-bottom: 5px;
    }
    h3{
        font-size: 14px;
        font-weight: 700;
        color: #353535;
        margin-top: 0;
        margin-bottom: 5px;
        text-align: end;
    }
    h4{
        font-size: 12px;
        font-weight: 400;
        color: #919191;
        margin-top: 0;
        margin-bottom: 5px;
    }
    h5{
        font-size: 12px;
        font-weight: 400;
        color: #353535;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .action{
        margin-top: 15px;
    }
    .btn{
        font-size: 12px;
        font-weight: 400;
        color: #919191;
        text-align: right;
        cursor: pointer;
        img{
            width: 18px;
            margin-bottom: -5px;
        }
    }
    ion-grid{
        padding: 0;
    }
    ion-col{
        padding: 0;
    }
}