
<ion-content>
  <h1>OTP Verification</h1>
  <h2>Enter the OTP sent to +91-9999977778</h2>
  <form [formGroup]="otpForm" (ngSubmit)="onSubmitOtp()">
    <div class="otp-container">
      <ion-input
        class="otp-input"
       
        maxlength="1"
        inputmode="numeric"
        pattern="[0-9]*"
        required
       
      ></ion-input>
      <ion-input
        class="otp-input"

        maxlength="1"
        inputmode="numeric"
        pattern="[0-9]*"
        required
       
      ></ion-input>
      <ion-input
        class="otp-input"

        maxlength="1"
        inputmode="numeric"
        pattern="[0-9]*"
        required
       
      ></ion-input>
      <ion-input
        class="otp-input"
   
        maxlength="1"
        inputmode="numeric"
        pattern="[0-9]*"
        required
      ></ion-input>
      <div class="gap"></div>
    </div>
    
    <p>Didn’t recieved the OTP ?<span> Resend OTP</span></p>
    <button type="submit" style="margin-top: 260px; height: 50px; border-radius: 8px; background-color: var(--primary-color); color: #fff; width: 100%; font-weight: bold; font-size: 18px;">Verify OTP</button>
  </form>
</ion-content>
