ion-content{
    background-color: #FDFDFD;
    --ion-background-color: #FDFDFD;
    --padding-start: 15px;
    --padding-end: 15px;
}
.notifications{
    h2{
        font-size: 16px;
        font-weight: 700;
        color: #1D1D1D;
        margin-top: 20px;
    }
    h3{
        font-size: 16px;
        font-weight: 700;
        color: #353535;
    }
    h4{
        font-size: 12px;
        font-weight: 400;
        color: #464646;
    }
    p{
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: #494949;
        margin-bottom: 0;
    }
    .flex{
        align-items: center;
        justify-content: space-between;
    }
    .card{
        padding: 15px;
        border-radius: 6px;
        margin-bottom: 10px;
    }
    .one{
        border: 1px solid #FFE1AF;
        background: var(--bg-color);
    }
    .two{
        border: 1px solid rgba(0, 0, 0, 0.14);
        background: #FFFFFF;
    }
}