@font-face {
    font-family: Helvetica;
    src: url('../assets/fonts/HelveticaNeue.ttf');
}

@font-face {
    font-family: Helvetica;
    src: url('../assets/fonts/HelveticaNeuBold.ttf');
}

@font-face {
    font-family: Helvetica;
    src: url('../assets/fonts/HelveticaNeueLight.ttf');
}

@font-face {
    font-family: Helvetica;
    src: url('../assets/fonts/HelveticaNeueMedium.ttf');
}

@font-face {
    font-family: Helvetica;
    src: url('../assets/fonts/HelveticaNeueThin.ttf');
}

@font-face {
    font-family: Helvetica;
    src: url('../assets/fonts/HelveticaNeue.ttf');
}