<ion-content>
  <div class="settings">
    <div class="flex">
      <h3>Enable Speech to Text</h3>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <div>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Permissions</ion-label>
          </ion-item>
          <div slot="content">Content</div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
    <!-- <ion-toggle [enableOnOffLabels]="true">Enable Speech to Text</ion-toggle> -->
  </div>
</ion-content>