ion-content{
    background-color: #FDFDFD;
    --ion-background-color: #FDFDFD;
    --padding-start: 15px;
    --padding-end: 15px;
}
.header-md {
    box-shadow: none;
}
.head-icon{
    padding-right: 15px;
}
ion-title{
    color: #353535;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 5px;
}
.sc-ion-searchbar-md-h {
    --border-radius: 22px;
    --box-shadow: none;
}
ion-label{
    font-size: 16px;
    font-weight: 700;
    color: #353535;
}
ion-text{
    font-size: 12px;
    font-weight: 400;
    color: #353535;
}
a{
    color: #353535;
    text-decoration: none;
    &:hover{
        color: #353535;
        text-decoration: none;
    }
}
.view-state{
    margin: 20px 0 0 0;
    span{
        border: 1px solid #EDEDED;
        padding: 10px 10px 5px 10px;
        img{
            color: #D4D4D4;
        }
    }
    span:nth-child(1){
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    span:nth-child(2){
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}
.cardview{
    h2{
        font-size: 16px;
        font-weight: 700;
        color: #353535;
        margin-top: -20px;
    }
    .items{
        ul{
            list-style: none;
            padding-left: 0;
        }
        li{
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 400;
            color: #666666;
            margin-bottom: 10px;
        }
        span{
            display: flex;
            width: 23px;
            height: 4px;
            margin-right: 10px;
        }
    }
}
.listview{
    h2{
        font-size: 16px;
        font-weight: 700;
        color: #353535;
        margin-top: -20px;
    }
    ul{
        list-style: none;
        padding-left: 0;
    }
    li{
        p{
            margin-bottom: 0;
            width: 70px;
            text-align: center;
        }
    }
    .flex{
        display: flex;
        align-items: center;
        overflow: scroll;
    }
    .tab{
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .btn{
        border: 1px solid #D4D4D4;
        background-color: #FFFFFF;
        border-radius: 24px;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 400;
        color: #919191;
    }
}
.chart{
    margin: 30px 10px 20px 10px;
}
.recent-orders{
    padding-bottom: 20px;
    ion-card{
        border-radius: 12px;
        box-shadow: 0px 4px 25px 0px #0000000D;
        padding: 10px;
        margin-bottom: 20px;
    }
    .status{
        padding: 8px;
        text-align: center;
        width: 70px;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    h2{
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        margin-top: 0;
        margin-bottom: 5px;
    }
    h3{
        font-size: 14px;
        font-weight: 700;
        color: #353535;
        margin-top: 0;
        margin-bottom: 5px;
        text-align: end;
    }
    h4{
        font-size: 12px;
        font-weight: 400;
        color: #919191;
        margin-top: 0;
        margin-bottom: 5px;
    }
    h5{
        font-size: 12px;
        font-weight: 400;
        color: #353535;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .action{
        margin-top: 15px;
    }
    .btn{
        border: 0;
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        color: #919191;
        text-align: right;
        cursor: pointer;
        text-decoration: underline;
        img{
            width: 18px;
            margin-bottom: -5px;
        }
    }
    ion-grid{
        padding: 0;
    }
    ion-col{
        padding: 0;
    }
}