<ion-content>

  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div style = 'height: 30px;'></div>
    <div class="custom-item">
      <ion-label class="custom-label" position="stacked">Enter the Subject</ion-label>
      <div class = 'gap'></div>
      <ion-input class="custom-input" formControlName="name" required></ion-input>
    </div>

    <div class="custom-item">
      <ion-label class="custom-label" position="stacked">Enter the Feedback</ion-label>
      <div class = 'gap'></div>
      <ion-input class="custom-input" class = "v1"  formControlName="address" required></ion-input>
    </div>

    <div class="custom-item">
      <ion-label class="custom-label" position="stacked">Attach Image</ion-label>
      <div class = 'gap'></div>
      </div>

    <div class="custom-input" class="pic" >
      
      <!-- File Input and Browse Button -->
      <label for="imageInput" class="custom-file-label">
        <div class="con1" >
          <div class="con2" >
          <img src="/assets/imgs/Group1.svg" alt="Description of the image" width="50" height="50"  >
        </div>
        <label class="custom-placeholder" for="imageInput">Jpg, png less than 100kb</label>
        <input type="file" accept="image/*" id="imageInput" class="custom-input" style="height: 160px;" class="custom-input">
        </div>
        <div class="con3">
          <!-- Take Photo Button -->
       
      <button type="button" class="take-photo-button">Take Photo</button>
      <div class = "v3"></div>
      <div class="flex-container">
        <hr>
        <p>or</p>
        <hr>
      </div>
      <div class = "v3"></div>
      <span >  Browse from files  </span>
      </div>
      </label>

    </div>
    


    <button type="submit">Submit</button>
  </form>
</ion-content>
