ion-content{
    background-color: #FDFDFD;
    --ion-background-color: #FDFDFD;
    --padding-start: 15px;
    --padding-end: 15px;
}
.barcode{
    padding: 20px 0;
    h2{
        font-size: 18px;
        font-weight: 400;
        color: #353535;
        text-align: center;
    }
}