ion-content{
    background-color: #FDFDFD;
    --ion-background-color: #FDFDFD;
    --padding-bottom: 100px;
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 20px
}
.header-md {
    box-shadow: none;
}
.head-icon{
    padding-right: 15px;
}
ion-title{
    color: #353535;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 5px;
}
.sc-ion-searchbar-md-h {
    --border-radius: 22px;
    --box-shadow: none;
}
ion-label{
    font-size: 16px;
    font-weight: 700;
    color: #353535;
}
ion-text{
    font-size: 12px;
    font-weight: 400;
    color: #353535;
}
a{
    color: #353535;
    text-decoration: none;
    &:hover{
        color: #353535;
        text-decoration: none;
    }
}
.schemes{
    ion-card{
        border-radius: 6px;
        box-shadow: 0px 4px 25px 0px #0000000D;
        padding: 0px;
        margin-bottom: 20px;
    }
    ion-grid{
        padding: 0;
    }
    ion-col{
        padding: 0;
    }
    .content{
        padding: 10px;
        h2{
            font-size: 16px;
            font-weight: 700;
            color: #353535;
            margin-bottom: 6px;
        }
        h3{
            font-size: 12px;
            font-weight: 400;
            color: #353535;
        }
        h4{
            font-size: 11px;
            font-weight: 400;
            color: #919191;
            margin-bottom: 5px;
        }
        h5{
            font-size: 11px;
            font-weight: 400;
            color: #666666;
            margin-bottom: 0;
        }
        a{
            font-size: 11px;
            font-weight: 400;
            color: #919191;
            cursor: pointer;
            text-decoration: none;
            img{
                padding-left: 5px;
            }
            &:hover{
                color: #919191;
                text-decoration: none;
            }
        }
        .flex1{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        .flex2{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
}
.schemes-details{
    padding: 25px 15px;
    .flex{
        justify-content: space-between;
        align-items: center;
    }
    h2{
        font-size: 16px;
        font-weight: 700;
        color: #1D1D1D;
        margin-bottom: 0;
    }
    h3{
        font-size: 18px;
        font-weight: 400;
        color: #1D1D1D;
        margin-top: 20px;
    }
    p{
        font-size: 14px;
        font-family: 400;
        color: #494949;
        margin-bottom: 30px;
    }
    ul{
        list-style: none;
        padding-left: 0;
    }
    li{
        font-size: 12px;
        font-weight: 400;
        color: #494949;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        img{
            padding-right: 5px;
        }
    }
}