<div class="menu">
  <ion-header>
    <ion-toolbar>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-grid>
              <ion-row>
                <ion-col size="auto">
                  <img src="/assets/imgs/profile.svg">
                </ion-col>
                <ion-col>
                  <h1>AJ Mart</h1>
                  <p>0112664499</p>
                  <p><img src="/assets/imgs/points.svg"> 50 Points</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <div class="ion-padding" slot="content">
            <hr>
            <h2><img src="/assets/imgs/profile-icon.svg"> AJ Mart</h2>
            <h2><img src="/assets/imgs/plus-icon.svg"> Add Account</h2>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-items">
    <ul>
      <li><a href="/orders"><img src="/assets/imgs/orders.svg"> My Orders</a></li>
      <li><a href="invoices"><img src="/assets/imgs/invoice.svg"> My Invoices</a></li>
      <li><a href="/schemes"><img src="/assets/imgs/Offer.svg"> Schemes</a></li>
      <li><a href="/favourites"><img src="/assets/imgs/Favourites.svg"> Favourites</a></li>
      <li><a href="/feedback"><img src="/assets/imgs/feedback.svg"> Feedback</a></li>
      <li><a href="/distributor-details"><img src="/assets/imgs/distributor.svg"> Distributor Details</a></li>
      <li><a href="/settings"><img src="/assets/imgs/settings.svg"> Settings</a></li>
      <li><a href="/about-us"><img src="/assets/imgs/about.svg"> About Us</a></li>
      <li><a href="/terms-and-conditions"><img src="/assets/imgs/T&C.svg"> Terms & Conditions</a></li>
      <li><a href="/privacy-policy"><img src="/assets/imgs/privacy policy.svg"> Privacy Policy</a></li>
      <li><a href="/version"><img src="/assets/imgs/version.svg"> Version</a></li>
    </ul>
    <ul>
      <li><a><img src="/assets/imgs/log out.svg"> Log out</a></li>
    </ul>
  </ion-content>
</div>