<ion-content class="commands">
  <div class="flex">
    <h2>Available Commands</h2>
    <div (click)="close()"><img src="/assets/imgs/Close.svg"></div>
  </div>
  <ul>
    <li>Say: Select item number &lt;number&gt; </li>
    <li>Say: Select Unit &lt;uom&gt;</li>
    <li>Say: Add/ Remove quanity number &lt;number&gt;</li>
    <li>Say: Add/ Proceed/ Go to Cart/ Basket</li>
    <li>Say: Sort by Ascending/ Descending/ Low-High/ High-Low/ InStock</li>
    <li>Say: Add favourite item number &lt;number></li>
    <li>Say: Remove favourite item number &lt;number&gt;</li>
  </ul>
  <div class="btn">Speak Now</div>
</ion-content>