<ion-content>
  <div class="categories">
    <div class="show-more">
      <div class="more-desc">
        <h3>8 Items</h3>
        <div class="items">
          @for (order of order_again; track order.id) {
            <ion-card>
              <ion-grid>
                <ion-row>
                  <ion-col size="auto">
                    <div class="image-col">
                      <div class="text-right">
                        <button ion-button icon-left clear  (click)="toggleLiked(order)">
                          <ion-img [src]="order.icon"></ion-img>
                        </button>
                      </div>
                      <div class="image">
                        <ion-img [src]="order.img.src" [alt]="order.img.alt"></ion-img>
                      </div>
                    </div>
                  </ion-col>
                  <ion-col>
                    <h1>{{order.brand_name}}</h1>
                    <h2>{{order.product_name}}</h2>
                    <h3>{{order.unit_cross_quantity}}</h3>
                    <h4>UOM: {{order.uom}}</h4>
                    <h4>Qty: {{order.qty}}</h4>
                    <h2>{{order.rate}}</h2>
                    <div class="btn" id="add-to-cart-sheet">Add</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          }
        </div>
      </div>
    </div>
  </div>
</ion-content>